#root{
    -fx-background-image: url("images/background_homepage.png");
    -fx-background-size: 900 900;
    -fx-background-position: center;
}

#logo{
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.2, 0, 0);
}